<%= form_for artist do |f| %>

  <div class="field">
    <%= f.label "First Name" %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label "Last Name" %><br>
    <%= f.text_field :last_name  %>
  </div>
  <div class="field">
    <%= f.label "Company Name (optional)"%><br>
    <%= f.text_field :company_name  %>
  </div>
  <div class="field">
    <%= f.label "Email Address" %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label "Password" %><br>
    <%= f.password_field :password %>
  </div>
    <div class="field">
    <%= f.label "Retype Password" %><br>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
  	<%= f.submit class: "btn btn-default" %>
  </div>

<% end %>