<%= form_for [artist, item] do |f| %>

  <div class="field">
    <%= f.label :product_name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :product_description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :customer_first_name  %><br>
    <%= f.text_field :customer_first  %>
  </div>
  <div class="field">
    <%= f.label :customer_last_name  %><br>
    <%= f.text_field :customer_last  %>
  </div>
  <div class="field">
    <%= f.label :customer_email %><br>
    <%= f.text_field :customer_email %>
  </div>
  <div class="field">
  	<%= f.submit submit_button_text, class: "btn btn-default" %>
  </div>
  
<% end %>