<div class="form-page container">

<ol class="breadcrumb">
	<li><%= link_to "Dashboard", artist_path(@artist) %></li>
	<li><%= link_to "View project", artist_item_path(@item.artist_id, @item) %></li>
	<li class="active">Edit project</li>
</ol>

<h2>Edit <%= @item.name %>
<div class="pull-right delete-trash tip" data-toggle="modal" data-target=".delete-modal" rel="tooltip" data-original-title='Delete project'>
	    <span class="glyphicon glyphicon-trash"></span></div>
</h2>

<div class="modal fade delete-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <p>Are you sure you want to delete this project?</p>
	    <div class="modal-buttons">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Keep project</button>
	        <%= link_to "Delete project", artist_item_path, method: :delete, class: "btn btn-default" %>
	    </div>
	  </div><!-- /.modal-body -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

	<div>
		<%= render partial: "form", locals: { artist: @artist, item: @item, submit_button_text: "Save changes"} %>
	</div>

</div>