<div id="item-dash-wrapper">

<h1><%= @item.name %></h1>

<div id="status-icons" class="container-fluid">
	<div id="<%= Item::STATUSES[0] %>" class="col-xs-4 active-status">
		<span class="glyphicon glyphicon-pencil"></span>
		<h3><%= Item::STATUSES[0] %></h3>
	</div>
	<div id="<%= Item::STATUSES[1] %>" class="col-xs-4">
		<span class="glyphicon glyphicon-wrench"></span>
		<h3><%= Item::STATUSES[1] %></h3>
	</div>
	<div id="<%= Item::STATUSES[2] %>" class="col-xs-4">
		<span class="glyphicon glyphicon-gift"></span>
		<h3><%= Item::STATUSES[2] %></h3>
	</div>
</div> <!--end container-fluid div-->


<%= form_tag artist_item_path(@artist, @item), method: :patch do %>

	<%= hidden_field_tag "item[status]" %>

	<div class="field">
	  	<%= text_area_tag "item[note]", nil, placeholder: "Add a note to describe your progress", size: "40x6" %>

	</div>

	<%= submit_tag "Send this update now", id: "update-button" %>
	<!--add functionality here to make it send an email-->

<% end %>
<br/>

<%= link_to "Edit this item", edit_artist_item_path, class: "btn btn-default" %> <br/>

<%= link_to "Delete this item", artist_item_path, method: :delete, class: "btn btn-default" , data: { confirm: 'Are you sure you want to delete this item?' } %> <br/>

<%= link_to "Back to dashboard", artist_path(@artist), class: "btn btn-default" %> <br/>

</div>